name: Build

on:
  push:
    branches:
      - "master"
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    env:
      NUGET_PACKAGES: D:\nuget\packages

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Test
      run: dotnet test

    - name: Build 
      run: dotnet publish RLBotCS -r win-x64

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: RLBotServer-windows
        path: ./**/publish/RLBotServer.exe

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Test
      run: dotnet test

    - name: Formatting
      run: |
        dotnet tool restore
        dotnet csharpier check .

    - name: Build 
      run: dotnet publish RLBotCS -r linux-x64

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: RLBotServer-ubuntu
        path: ./**/publish/RLBotServer

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [build-linux, build-windows]
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: "true"
      - name: Publish to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          files: ./RLBotCS/**/publish/RLBotServer*
          generate_release_notes: true
          body: |
            Pre-built binaries that allows bots to interface with Rocket League via the RLBot v5 spec
